In [24]:
import pandas as pd
import requests
import warnings
warnings.filterwarnings('ignore')
# from config import omdb_key

In [25]:
# https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset

file_path = '../Resources/movie_title.csv'

In [26]:
movie_titles_df = pd.read_csv(file_path)

print(movie_titles_df.columns)
movie_titles_df.head(2)

Index(['Unnamed: 0', 'tconst', 'titleType', 'primaryTitle', 'isAdult',
       'startYear', 'genres'],
      dtype='object')

,Unnamed: 0,tconst,titleType,primaryTitle,isAdult,startYear,genres
0,67687,tt0069049,movie,The Other Side of the Wind,0,2018,Drama
1,70840,tt0072306,movie,Toula ou Le génie des eaux,0,2017,Drama

# CHANGE THE YEAR

In [27]:
year = 2015
movie_titles_df = movie_titles_df[(movie_titles_df.startYear == year)]

In [28]:
movie_titles_clean = movie_titles_df[['tconst', 'primaryTitle', 'startYear']]

# Make columns to import info into
movie_titles_clean['Metascore'] = " "
movie_titles_clean['imdbRating'] = " "
movie_titles_clean['imdbVotes'] = " "
movie_titles_clean['Title'] = " "


print(f"How many movies in (year) = {movie_titles_clean.primaryTitle.count()}")

movie_titles_clean.head()

How many movies in (year) = 16095

,tconst,primaryTitle,startYear,Metascore,imdbRating,imdbVotes,Title
10,tt0191476,Fed Up,2015,,,,
15,tt0283440,Short Time Heroes,2015,,,,
16,tt0297400,Snowblind,2015,,,,
23,tt0337926,Chatô - The King of Brazil,2015,,,,
25,tt0346045,Transeúntes,2015,,,,

# OMDB pull

In [29]:
# # make URL
url_omdb = "http://www.omdbapi.com/?apikey="+ "e50136e9" + "&i="

error_count = 0

for index, row in movie_titles_clean.iterrows(): 
    movie_data = requests.get(url_omdb + str(movie_titles_clean.tconst[index])).json()
    try:
        movie_titles_clean.loc[index, 'Metascore'] = movie_data['Metascore']
        movie_titles_clean.loc[index, 'imdbRating'] = movie_data['imdbRating']
        movie_titles_clean.loc[index, 'imdbVotes'] = movie_data['imdbVotes']
        movie_titles_clean.loc[index, 'Title'] = movie_data['Title']        
    except (IndexError, KeyError, ValueError):
        error_count +=1

JSONDecodeError: Invalid control character at: line 1 column 357 (char 356)

#### Save results as a CSV

In [27]:
file_outpath = f"Resources/OMDB_pull_{year}_error_count{error_count}.csv"

movie_titles_clean.to_csv(file_outpath)

In [ ]:
#2019, 2016, 2015,