In [1]:
import pandas as pd
import csv

# Import files

In [2]:
movies_2015 = pd.read_csv("Resources/TMDB_pull_FINAL_2015_dropped_movies_15964.csv")
movies_2016 = pd.read_csv("Resources/2016 pull/TMDB_pull_FINAL_2016_dropped_movies_16969.csv")
movies_2017 = pd.read_csv("Resources/2017_pull/TMDB_pull_FINAL_2017_dropped_movies_17367.csv")
movies_2018 = pd.read_csv("Resources/2018 pull/TMDB_pull_FINAL_2018_dropped_movies_17079.csv")
movies_2019 = pd.read_csv("Resources/TMDB_pull_FINAL_2019_dropped_movies_16258.csv")

netflix = pd.read_csv("Resources/Netflix_data/TMDB_pull_FINAL_Netflix_dropped_movies_524.csv")
movie_title = pd.read_csv("Resources/movie_title.csv")
movie_ratings = pd.read_csv("Resources/title.ratings.tsv",sep='\t')

# Clean movie_title

In [3]:
del movie_title["Unnamed: 0"]
del movie_title["isAdult"]

In [4]:
movie_title.head()

,tconst,titleType,primaryTitle,startYear,genres
0,tt0069049,movie,The Other Side of the Wind,2018,Drama
1,tt0072306,movie,Toula ou Le génie des eaux,2017,Drama
2,tt0077649,movie,Isolation of 1/8800000,2018,\N
3,tt0100275,movie,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
4,tt0111414,movie,A Thin Life,2018,Comedy

# Clean Years

### 2015

In [5]:
def clean_year(file):
    del file["Unnamed: 0"]
    del file["ID"]
    del file["original_title"]
    return file

In [6]:
def profit(file):
    file["Profit%"] = round((file['revenue']-file['budget'])/file['budget']*100,2)

In [7]:
clean_year(movies_2015)

,imdb_id,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name
0,tt0810819,2015-01-01,15000000,64191523,Drama,Français,DE,Germany,Français
1,tt0884732,2015-01-16,23000000,79799880,Comedy,English,US,United States of America,English
2,tt2250912,2017-07-05,175000000,880166924,Action,English,US,United States of America,English
3,tt1014763,2015-03-15,50000000,3324330,Crime,English,GB,United Kingdom,English
4,tt1083452,2016-02-26,23000000,46152411,Comedy,Deutsch,DE,Germany,Deutsch
...,...,...,...,...,...,...,...,...,...
126,tt6447370,2015-12-03,4700000,500000,,,,,
127,tt0419706,2005-10-20,60000000,58072119,Action,日本語,CZ,Czech Republic,日本語
128,tt0375063,2004-10-22,16000000,109502303,Comedy,NaN,US,United States of America,NaN
129,tt0902272,2008-02-26,3500000,5231128,Action,English,US,United States of America,English
130,tt7365948,2015-10-22,150000,2000,Drama,Español,CO,Colombia,Español

In [8]:
movies_2015.reset_index().head()
movies_2015 = movies_2015.drop(index=123)
movies_2015 = movies_2015.rename(columns={'imdb_id':'tconst'})

In [9]:
movies_2015['budget'] = pd.to_numeric(movies_2015['budget'])
movies_2015['revenue'] = pd.to_numeric(movies_2015['revenue'])
profit(movies_2015)

### 2016

In [10]:
clean_year(movies_2016)
movies_2016.reset_index().head()
movies_2016 = movies_2016.drop(index=158)
movies_2016 = movies_2016.rename(columns={'imdb_id':'tconst'})
movies_2016['budget'] = pd.to_numeric(movies_2016['budget'])
movies_2016['revenue'] = pd.to_numeric(movies_2016['revenue'])
profit(movies_2016)

### 2017

In [11]:
clean_year(movies_2017)
movies_2017.reset_index().head()
movies_2017 = movies_2017.rename(columns={'imdb_id':'tconst'})
movies_2017['budget'] = pd.to_numeric(movies_2017['budget'])
movies_2017['revenue'] = pd.to_numeric(movies_2017['revenue'])
profit(movies_2017)

### 2018

In [12]:
clean_year(movies_2018)
movies_2018.reset_index().head()
movies_2018 = movies_2018.drop(index=4)
movies_2018 = movies_2018.rename(columns={'imdb_id':'tconst'})
movies_2018['budget'] = pd.to_numeric(movies_2018['budget'])
movies_2018['revenue'] = pd.to_numeric(movies_2018['revenue'])
profit(movies_2018)

### 2019

In [13]:
clean_year(movies_2019)
movies_2019.reset_index().head()
movies_2019 = movies_2019.drop(index=11)
movies_2019 = movies_2019.drop(index=23)
movies_2019 = movies_2019.drop(index=37)
movies_2019 = movies_2019.rename(columns={'imdb_id':'tconst'})
movies_2019['budget'] = pd.to_numeric(movies_2019['budget'])
movies_2019['revenue'] = pd.to_numeric(movies_2019['revenue'])
profit(movies_2019)

# Combine Years

In [14]:
movies = movies_2015
movies = movies.append(movies_2016)
movies = movies.append(movies_2017)
movies = movies.append(movies_2018)
movies = movies.append(movies_2019)
movies.count()

tconst                       645
release_date                 640
budget                       651
revenue                      651
genres                       651
original_language            620
origin_country               651
production_countries name    651
spoken_languages name        624
Profit%                      651
dtype: int64

Drop null values

In [15]:
movies = movies.dropna(how='any')
movies.count()

tconst                       606
release_date                 606
budget                       606
revenue                      606
genres                       606
original_language            606
origin_country               606
production_countries name    606
spoken_languages name        606
Profit%                      606
dtype: int64

### Export

In [16]:
movies.to_csv("Resources/movie_list.csv")