In [1]:
import pandas as pd
import csv

# Import files

In [2]:
movies_2018 = pd.read_csv("Resources/2018 pull/TMDB_pull_FINAL_2018_dropped_movies_17079.csv")
movies_2019 = pd.read_csv("Resources/TMDB_pull_FINAL_2019_dropped_movies_16258.csv")

netflix = pd.read_csv("Resources/Netflix_data/TMDB_pull_FINAL_Netflix_dropped_movies_524.csv")
movie_title = pd.read_csv("Resources/movie_title.csv")
movie_ratings = pd.read_csv("Resources/title.ratings.tsv",sep='\t')

# Clean movie_title

In [3]:
del movie_title["Unnamed: 0"]
del movie_title["isAdult"]

In [4]:
movie_title.head()

,tconst,titleType,primaryTitle,startYear,genres
0,tt0069049,movie,The Other Side of the Wind,2018,Drama
1,tt0072306,movie,Toula ou Le génie des eaux,2017,Drama
2,tt0077649,movie,Isolation of 1/8800000,2018,\N
3,tt0100275,movie,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
4,tt0111414,movie,A Thin Life,2018,Comedy

# Clean Years

In [5]:
def clean_year(file):
    del file["Unnamed: 0"]
    del file["ID"]
    del file["original_title"]
    return file

In [6]:
clean_year(movies_2018)
movies_2018.head(2)

,imdb_id,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name
0,tt1075113,2009-06-03,13000000,2651917,Drama,Français,FR,France,Français
1,tt1273221,2018-09-20,8000000,252676,Crime,English,GB,United Kingdom,English

In [7]:
movies_2018 = movies_2018.rename(columns={'imdb_id':'tconst'})

In [8]:
movies_2018.head(2)

,tconst,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name
0,tt1075113,2009-06-03,13000000,2651917,Drama,Français,FR,France,Français
1,tt1273221,2018-09-20,8000000,252676,Crime,English,GB,United Kingdom,English

In [9]:
movies_2018.reset_index().head()
movies_2018 = movies_2018.drop(index=4)

In [10]:
def profit(file):
    file["Profit%"] = round((file['revenue']-file['budget'])/file['budget']*100,2)

In [11]:
movies_2018['budget'] = pd.to_numeric(movies_2018['budget'])
movies_2018['revenue'] = pd.to_numeric(movies_2018['revenue'])

profit(movies_2018)

In [12]:
movies_2018.head(2)

,tconst,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name,Profit%
0,tt1075113,2009-06-03,13000000,2651917,Drama,Français,FR,France,Français,-79.60
1,tt1273221,2018-09-20,8000000,252676,Crime,English,GB,United Kingdom,English,-96.84

In [13]:
clean_year(movies_2019)
movies_2019 = movies_2019.rename(columns={'imdb_id':'tconst'})

In [18]:
movies_2019.reset_index().head()
movies_2019 = movies_2018.drop(index=11)

movies_2019['budget'] = pd.to_numeric(movies_2019['budget'])
movies_2019['revenue'] = pd.to_numeric(movies_2019['revenue'])

In [19]:
profit(movies_2019)

In [21]:
full_list = movies_2018.append(movies_2019)

In [22]:
full_list

,tconst,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name,Profit%
0,tt1075113,2009-06-03,13000000,2651917,Drama,Français,FR,France,Français,-79.60
1,tt1273221,2018-09-20,8000000,252676,Crime,English,GB,United Kingdom,English,-96.84
2,tt1285009,2018-03-07,12500000,31039126,Horror,English,US,United States of America,English,148.31
3,tt1308728,2018-08-22,40000000,27506452,Action,English,CN,China,English,-31.23
5,tt1413492,2018-01-16,35000000,67131266,Drama,English,US,United States of America,English,91.80
...,...,...,...,...,...,...,...,...,...,...
101,tt8925540,2018-12-07,3000000,12000000,Animation,Français,CA,Canada,Français,300.00
102,tt0111161,1994-09-23,25000000,28341469,Drama,English,US,United States of America,English,13.37
103,tt9063684,2018-10-26,11000,100000,Comedy,Română,RO,Romania,Română,809.09
104,tt0486674,2008-10-17,25000000,6673422,Comedy,Français,US,United States of America,Français,-73.31
105,tt9063684,2018-10-26,11000,100000,Comedy,Română,RO,Romania,Română,809.09

In [23]:
movies_2018

,tconst,release_date,budget,revenue,genres,original_language,origin_country,production_countries name,spoken_languages name,Profit%
0,tt1075113,2009-06-03,13000000,2651917,Drama,Français,FR,France,Français,-79.60
1,tt1273221,2018-09-20,8000000,252676,Crime,English,GB,United Kingdom,English,-96.84
2,tt1285009,2018-03-07,12500000,31039126,Horror,English,US,United States of America,English,148.31
3,tt1308728,2018-08-22,40000000,27506452,Action,English,CN,China,English,-31.23
5,tt1413492,2018-01-16,35000000,67131266,Drama,English,US,United States of America,English,91.80
...,...,...,...,...,...,...,...,...,...,...
101,tt8925540,2018-12-07,3000000,12000000,Animation,Français,CA,Canada,Français,300.00
102,tt0111161,1994-09-23,25000000,28341469,Drama,English,US,United States of America,English,13.37
103,tt9063684,2018-10-26,11000,100000,Comedy,Română,RO,Romania,Română,809.09
104,tt0486674,2008-10-17,25000000,6673422,Comedy,Français,US,United States of America,Français,-73.31
105,tt9063684,2018-10-26,11000,100000,Comedy,Română,RO,Romania,Română,809.09