In [1]:
import pandas as pd
import csv

In [2]:
movies = pd.read_csv("Resources/2018 pull/TMDB_pull_FINAL_2018_dropped_movies_17079.csv")
netflix = pd.read_csv("Resources/Netflix_data/TMDB_pull_FINAL_Netflix_dropped_movies_524.csv")
omdb_2015 = pd.read_csv("Resources/OMDB_pulls/OMDB_pull_2015_error_count515.csv")
omdb_2016 = pd.read_csv("Resources/OMDB_pulls/OMDB_pull_2016_error_count644.csv")
omdb_2017 = pd.read_csv("Resources/OMDB_pulls/OMDB_pull_2017_error_count858.csv")
omdb_2018 = pd.read_csv("Resources/OMDB_pulls/OMDB_pull_2018_error_count1302.csv")
omdb_2019 = pd.read_csv("Resources/OMDB_pulls/OMDB_pull_2019_error_count1835.csv")
movie_title = pd.read_csv("Resources/movie_title.csv")

In [3]:
# Unnamed: 0,primaryTitle, startYear, Title
def delete_columns(file):
    del file["Unnamed: 0"]
    del file["startYear"]
    del file["primaryTitle"]
    del file["Title"]

In [4]:
delete_columns(omdb_2015)
delete_columns(omdb_2016)
delete_columns(omdb_2017)
delete_columns(omdb_2018)
delete_columns(omdb_2019)

In [5]:
del movie_title["Unnamed: 0"]
del movie_title["isAdult"]

In [6]:
movie_title

,tconst,titleType,primaryTitle,startYear,genres
0,tt0069049,movie,The Other Side of the Wind,2018,Drama
1,tt0072306,movie,Toula ou Le génie des eaux,2017,Drama
2,tt0077649,movie,Isolation of 1/8800000,2018,\N
3,tt0100275,movie,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
4,tt0111414,movie,A Thin Life,2018,Comedy
...,...,...,...,...,...
84289,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary
84290,tt9916428,movie,The Secret of China,2019,"Adventure,History,War"
84291,tt9916538,movie,Kuambil Lagi Hatiku,2019,Drama
84292,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary
84293,tt9916730,movie,6 Gunn,2017,\N

In [7]:
full_list = omdb_2015

In [8]:
full_list

          tconst Metascore imdbRating imdbVotes
0      tt0191476       NaN        5.9       118
1      tt0283440       NaN        NaN       NaN
2      tt0297400       NaN        6.7        85
3      tt0337926       NaN        6.1       569
4      tt0346045       NaN        6.5        30
...          ...       ...        ...       ...
16090  tt9898548       NaN        NaN       NaN
16091  tt9900680       NaN        NaN       NaN
16092  tt9902338       NaN        NaN       NaN
16093  tt9914828       NaN        NaN       NaN
16094  tt9916622       NaN        NaN       NaN

[16095 rows x 4 columns]

In [13]:
full_list = full_list.append(omdb_2016)
full_list = full_list.append(omdb_2017)
full_list = full_list.append(omdb_2018)
full_list = full_list.append(omdb_2019)
final_list = full_list
full_list = []

In [10]:
final_list.count()

tconst        84294
Metascore      9043
imdbRating    38941
imdbVotes     38939
dtype: int64

In [11]:
final_list = pd.merge(movie_title,final_list,on='tconst',how='outer')

In [12]:
final_list

,tconst,titleType,primaryTitle,startYear,genres,Metascore,imdbRating,imdbVotes
0,tt0069049,movie,The Other Side of the Wind,2018,Drama,78,6.8,"5,960"
1,tt0072306,movie,Toula ou Le génie des eaux,2017,Drama,NaN,6.4,8
2,tt0077649,movie,Isolation of 1/8800000,2018,\N,NaN,6.9,17
3,tt0100275,movie,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy",NaN,6.7,112
4,tt0111414,movie,A Thin Life,2018,Comedy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
84289,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,2017,Documentary,NaN,NaN,NaN
84290,tt9916428,movie,The Secret of China,2019,"Adventure,History,War",NaN,NaN,NaN
84291,tt9916538,movie,Kuambil Lagi Hatiku,2019,Drama,NaN,NaN,NaN
84292,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,Documentary,NaN,NaN,NaN
84293,tt9916730,movie,6 Gunn,2017,\N,NaN,NaN,NaN