In [1]:
import pandas as pd
import csv

# Import files

In [2]:
movies_2018 = pd.read_csv("Resources/2018 pull/TMDB_pull_FINAL_2018_dropped_movies_17079.csv")

netflix = pd.read_csv("Resources/Netflix_data/TMDB_pull_FINAL_Netflix_dropped_movies_524.csv")
movie_title = pd.read_csv("Resources/movie_title.csv")
movie_ratings = pd.read_csv("Resources/title.ratings.tsv",sep='\t')

# Clean movie_title

In [3]:
del movie_title["Unnamed: 0"]
del movie_title["isAdult"]

In [4]:
movie_title.head()

,tconst,titleType,primaryTitle,startYear,genres
0,tt0069049,movie,The Other Side of the Wind,2018,Drama
1,tt0072306,movie,Toula ou Le génie des eaux,2017,Drama
2,tt0077649,movie,Isolation of 1/8800000,2018,\N
3,tt0100275,movie,The Wandering Soap Opera,2017,"Comedy,Drama,Fantasy"
4,tt0111414,movie,A Thin Life,2018,Comedy

# Clean Years

In [ ]:
def clean_year(file):
    del file["Unnamed: 0"]
    del file["ID"]
    del file["original_title"]
    return file

In [ ]:
clean_year(movies_2018)
movies_2018.head(2)

In [ ]:
movies_2018 = movies_2018.rename(columns={'imdb_id':'tconst'})

In [ ]:
movies_2018.head(2)

In [ ]:
# make profit% column (revenue-budget/budget*100)