In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## Create DataFrame and CSV of Movie Titles

In [2]:
file_path = 'Resources/movie_title.csv'
movie_titles_arp = pd.read_csv(file_path)

print(movie_titles_arp.columns)
movie_titles_arp.head()

Index(['Unnamed: 0', 'tconst', 'titleType', 'primaryTitle', 'isAdult',
       'startYear', 'genres'],
      dtype='object')

,Unnamed: 0,tconst,titleType,primaryTitle,isAdult,startYear,genres
0,67687,tt0069049,movie,The Other Side of the Wind,0,2018,Drama
1,70840,tt0072306,movie,Toula ou Le génie des eaux,0,2017,Drama
2,76043,tt0077649,movie,Isolation of 1/8800000,0,2018,\N
3,98079,tt0100275,movie,The Wandering Soap Opera,0,2017,"Comedy,Drama,Fantasy"
4,109002,tt0111414,movie,A Thin Life,0,2018,Comedy

tconst          object
titleType       string
primaryTitle    object
isAdult          int64
startYear        int64
genres          object
dtype: object

THIS IS HOW MANY MOVIES: 84294

,tconst,titleType,primaryTitle,isAdult,startYear,genres
67687,tt0069049,movie,The Other Side of the Wind,0,2018,Drama
70840,tt0072306,movie,Toula ou Le génie des eaux,0,2017,Drama
76043,tt0077649,movie,Isolation of 1/8800000,0,2018,\N
98079,tt0100275,movie,The Wandering Soap Opera,0,2017,"Comedy,Drama,Fantasy"
109002,tt0111414,movie,A Thin Life,0,2018,Comedy

In [57]:
#file_outpath = "Resources/movie_title.csv"

#movie_titles_clean.to_csv(file_outpath)